.radial-progress {
    --track-color: rgb(66, 66, 66);
    --progress-color: rgb(200, 0, 0);
    --percentage-color: white;
    --border-size: 45;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
}
